body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000000; 
}

.banner {
  background-color: #3d1d8f; 
  padding: 20px;
  text-align: center;
}

.apresentacao {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.apresentacao-conteudo {
  flex: 1;
  text-align: center;
  -webkit-text-fill-color: white;
}

.apresentacao-imagem {
  width: 300px;
  border-radius: 10px;
}

.formulario {
  flex: 1;
  background-color: #3d1d8f; 
  padding: 20px;
  border-radius: 10px;
}

.formulario h2 {
  text-align: center;
}

.formulario input,
.formulario textarea,
.formulario button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

.formulario button {
  background-color: #7d5ebc; 
  color: #3d1d8f; 
  cursor: pointer;
}

.formulario button:hover {
  background-color: #3d1d8f; 
}

.rodape {
  text-align: center;
  background-color: #3d1d8f;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
