/*Home*/
.Conteudo {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-left: 20px;
}

.Conteudo img {
  width: 800px;
  height: 600px;
  margin-left: 500px;
}

.text-container {
  display: flex;
  flex-direction: column; 
}

.text-button {
  margin-top: 20px;
}

.text-container h1 {
  font-weight: bold;
  font-size: 100px;
  margin-bottom: 10px;
  width: 700px;
}

.text-container p {
  font-size: 30px;
  width: 500px;
  margin-bottom: 20px;
}
.text-button button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 200px; 
  cursor: pointer;
  height: 75px; 
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.text-button p {
  font-size: 30px;
  margin: 0;
}

button:hover {
  background-color: #333;
}

.Navegacao {
  padding: 20px;
  text-align: center;
}

.Navegacao ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.Navegacao ul li {
  margin-right: 20px;
}

.Navegacao ul li:last-child {
  margin-right: 0;
}

.Navegacao ul li a {
  color: #333333;
  text-decoration: none;
  font-size: 25px;
}

.Navegacao ul li a:hover {
  text-decoration: underline;
}


.cards {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  justify-content: space-around;
}
.cards img {
  width: 50px;
  height: auto;
}
.youtube{
  position: relative;
  width: 300px;
  height: 400px;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  background-color: #F1C2B0;
  margin-left: 50px;
}
.youtube h1{
  color: white;
  position: absolute;
  top: -30px;
  left: 10px;
  font-size: 60px;
}
.youtube img{
  position: absolute;
  top: 10px;
  right: 10px;
}
.youtube h2 {
  font-size: 50px;
  position: absolute;
  top: 50px;
  left: 10px;
}

.youtube p {
  width: 300px;
  font-size: 36px;
  margin-top: 130px;
}
.tiktok {
  position: relative;
  width: 300px;
  height: 400px;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  background-color: #F9EB98;
}

.tiktok h1 {
  color: white;
  position: absolute;
  top: -30px;
  left: 10px;
  font-size: 60px;
}

.tiktok img {
  position: absolute;
  top: 10px;
  right: 10px;
}

.tiktok h2 {
  font-size: 60px;
  position: absolute;
  top: 40px;
  left: 10px;
}

.tiktok p {
  width: 300px;
  font-size: 36px;
  margin-top: 130px;
}

.facebook {
  position: relative;
  width: 300px;
  height: 400px;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  background-color: #C0D9DD;
  margin-left: 20px;
}

.facebook h1 {
  color: white;
  position: absolute;
  top: -30px;
  left: 10px;
  font-size: 50px;
}

.facebook img {
  position: absolute;
  top: 10px;
  right: 10px;
}

.facebook h2 {
  font-size: 60px;
  position: absolute;
  top: 40px;
  left: 10px;
}

.facebook p {
  width: 300px;
  font-size: 36px;
  margin-top: 130px;
}

.instagram {
  position: relative;
  width: 300px;
  height: 400px;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  background-color: #6975E8;
  margin-right: 20px;
}

.instagram h1 {
  color: white;
  position: absolute;
  top: -30px;
  left: 10px;
  font-size: 50px;
}

.instagram img {
  position: absolute;
  top: 10px;
  right: 10px;
}

.instagram h2 {
  font-size: 60px;
  position: absolute;
  top: 40px;
  left: 10px;
}

.instagram p {
  width: 300px;
  font-size: 37px;
  margin-top: 130px;
}
.tiktok {
  margin-right: 0px; 
}

.facebook {
  margin-right: 0px; 
}

.instagram {
  margin-right: 0px; 
}
.tamanho{
  width: 300px;
  height: 200px;
}

/*Sobre*/

.Container {
  display: flex;
  flex-direction: column;
}

.Conteudosobre {
  display: flex;
  align-items: center;
}

.text-containersobre {
  flex: 1;
  margin-left: 60px;
}

.text-buttonsobre {
  margin-top: 20px;
}

.text-buttonsobre button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  height: 75px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-containersobre h1 {
  font-weight: bold;
  font-size: 100px;
  margin-bottom: 10px;
  width: 700px;
}

.text-containersobre p {
  font-size: 30px;
  width: 500px;
  margin-bottom: 20px;
}

.peixe {
  margin-right: 70px;
}

.imgsobre {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}

.imgsobre img {
  margin-bottom: 20px;
  width: auto;
  height: 800px;
}


/*plano*/
.cinza {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F4F2F2;
  width: 100%;
  height: 100%;
}

.cinza p {
  font-size: 80px;
}

.planos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.azul {
  position: relative;
  background-color: #6975e8;
  width: 440px;
  height: 589px;
  border-radius: 30px;
  margin-bottom: 80px;
}

.azul h2 {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}

.branco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 470px;
  padding: 20px;
  border-radius: 20px;
  text-align: start;
}

.branco p {
  opacity: 0.5;
  font-size: 30px;
  margin-bottom: 60px;
  margin-right: 180px;
}

.branco button {
  border-radius: 10px;
  width: 100%;
  height: 70px;
  background-color: #6975e8;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-top: auto; 
}

.branco select {
  width: 90%;
  font-size: 24px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.azul-branco {
  position: relative;
  background-color: white;
  width: 440px;
  height: 589px;
  border-radius: 30px;
  margin-bottom: 80px;
}

.azul-branco h2 {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  
}
.branco-azul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 470px;
  padding: 20px;
  border-radius: 20px;
  text-align: start;
}

.branco-azul p {
  opacity: 0.5;
  font-size: 30px;
  margin-bottom: 30px;
  margin-right: 180px;
}

.branco-azul button {
  border-radius: 10px;
  width: 100%;
  height: 70px;
  background-color: white;
  color: black;
  font-size: 20px;
  cursor: pointer;
  margin-top: auto; 
}

.branco-azul select {
  width: 90%;
  font-size: 24px;
  height: 60px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.azul-branco img{
margin-top: 50px;
}

/*Contato*/
.ConteudoContato {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}
.text-containerContato h1 {
  font-weight: bold;
  font-size: 100px;
  margin-bottom: 10px;
  width: 700px;
}

.text-containerContato p {
  font-size: 30px;
  width: 500px;
  margin-bottom: 20px;
}





.linha-vertical {
  width: 1px;
  height: 630px;
  border: none;
  background-color: gray;
}

.contato form {
  margin-right: 200px;
}

.form-nome,
.form-email,
.form-msg {
  display: flex;
  
  font-size: 2rem;
}

.form-nome input,
.form-email input,
.form-msg textarea {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 2rem;
  width: 500px;
  height: 40px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.form-msg textarea {
  font-size: 1rem;
  width: 630px;
  height: 250px;
  resize: none;
}

.form-button {
  display: flex;
  justify-content: flex-end;
}

.contato button {
  margin-top: 50px;
  background-color: #6975E8;
  color: white;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  font-size: 1.2rem;
  border: none;
}
.text-containerContato {
  display: flex;
  flex-direction: column; 
}


.text-containerContato h1 {
  font-weight: bold;
  font-size: 100px;
  margin-bottom: 10px;
  width: 700px;
}

.text-containerContato p {
  font-size: 30px;
  width: 500px;
  margin-bottom: 20px;
}

.icones{
  padding: 20px;
  margin-top: 20px;
  width: auto;
  height: 100px;
}
.twitter{
  margin-right: 20px  ;
}
.discord{
  margin-left: 20px;
}
.insta{
  margin-right: 20px  ;
  margin-left: 20px;
}
.form-msg {
  display: flex;
  flex-direction: column; 
  font-size: 2rem;
  margin-right: 20px;
}
.form-msg textarea{
      margin-right: 20px;
}
.brancoContato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 470px;
  padding: 20px;
  border-radius: 20px;
  text-align: start;
}

.brancoContato p {
  font-size: 15px;
  
}

.brancoContato button {
  border-radius: 10px;
  width: 200px; 
  height: 50px; 
  background-color: #6975e8;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px; 
  position: relative;
  bottom: 200px;
  left: 350px;
}